/*
 * -------------------------------------------------
 *  Predector Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
    name = 'nanopore_assembly'
    author = 'Lina Rosano, Darcy Jones, James Hane'
    homePage = 'https://github.com/ccdmb/predector'
    doi = '10.1038/s41598-021-99363-0'
    description = 'A pipeline to predict effectors.'
    mainScript = 'main.nf'
    nextflowVersion = '>=21'
    version = '1.2.6'
    defaultBranch = 'main'
}


// Global default params, used in configs
params {
    nanoporeReads = false
    canuSlow = false
    outdir = "assembly"
    tracedir = "${params.outdir}/pipeline_info"
    dcs = "${baseDir}/data/DCS.fasta"
}


// Load base.config by default for all pipelines
// includeConfig "${baseDir}/conf/base.config"

// process.container = "predector/predector:${manifest.version}"

profiles {
    nimbus {
        includeConfig "${baseDir}/conf/nimbus.config"
    }
    zeus {
        includeConfig "${baseDir}/conf/zeus.config"
    }
    docker {
        includeConfig "${baseDir}/conf/containers.config"
        docker.enabled = true
    }
    docker_sudo {
        includeConfig "${baseDir}/conf/containers.config"
        docker.enabled = true
        docker.sudo = true
    }
    podman {
        includeConfig "${baseDir}/conf/containers.config"
        podman.enabled = true
    }
    singularity {
        includeConfig "${baseDir}/conf/containers.config"
        singularity.enabled = true
    }
}

// Avoid this error:
// WARNING: Your kernel does not support swap limit capabilities or the cgroup is not mounted. Memory limited without swap.
// Testing this in nf-core after discussion here https://github.com/nf-core/tools/pull/351, once this is established and works well, nextflow might implement this behavior as new default.
docker.runOptions = '-u \$(id -u):\$(id -g)'
podman.runOptions = '-u \$(id -u):\$(id -g)'

// Mount the filesystem with singularity.
singularity.autoMounts = true

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']


timeline {
    enabled = true
    file = "${params.tracedir}/execution_timeline.html"
}
report {
    enabled = true
    file = "${params.tracedir}/execution_report.html"
}
trace {
    enabled = true
    trace.overwrite = true
    file = "${params.tracedir}/execution_trace.txt"
}
dag {
    file = "${params.tracedir}/pipeline_dag.svg"
}
