process {
    withLabel: canu {
        container = "quay.io/biocontainers/canu:2.2--ha47f30e_0"
    }

    withLabel: medaka {
        container = "ontresearch/medaka:v1.11.3"
    }

    withLabel: seqkit {
        container = "quay.io/biocontainers/seqkit:2.4.0--h9ee0642_0"
    }

    withLabel: flye {
        container = "quay.io/biocontainers/flye:2.9.2--py310h2b6aa90_2"
    }

    withLabel: nanoplot {
        container = "quay.io/biocontainers/nanoplot:1.41.3--pyhdfd78af_0"
    }

    withLabel: nextdenovo {
        container = "quay.io/biocontainers/nextdenovo:2.5.2--py310h520969d_3"
    }

    withLabel: chopper {
        container = "quay.io/biocontainers/chopper:0.5.0--hdcf5f25_2"
    }

    withLabel: minimap2 {
        container = "quay.io/biocontainers/minimap2:2.26--he4a0461_1"
    }

    withLabel: samtools {
        container = "quay.io/biocontainers/samtools:1.18--hd87286a_0"
    }

    withLabel: ragtag {
        container = "quay.io/biocontainers/ragtag:2.1.0--pyhb7b1952_0"
    }
}
