// building the combined chopper pigz container:
// wave --conda-package chopper=0.7.0 --conda-package pigz=2.8 --conda-package wget=1.20.3 --conda-package seqkit=2.7.0
// generates a URL
// docker pull <URL>
// docker tag wave.seqera.io/wt/17494c8878ab/wave/build:chopper-0.7.0_pigz-2.8_wget-1.20.3--6074757c4b3ba599 jwdebler/chopper_pigz_seqkit:0.7.0_2.8_2.7.0
// docker login
// docker push jwdebler/chopper_pigz_seqkit:0.7.0_2.8_2.7.0

process {
    withLabel: canu {
        container = "quay.io/biocontainers/canu:2.2--ha47f30e_0"
    }

    withLabel: medaka {
        container = "ontresearch/medaka"
    }

    withLabel: seqkit {
        container = "quay.io/biocontainers/seqkit:2.8.1--h9ee0642_0"
    }

    withLabel: flye {
        container = "quay.io/biocontainers/flye:2.9.3--py310h2b6aa90_0"
    }

    withLabel: nanoplot {
        container = "quay.io/biocontainers/nanoplot:1.42.0--pyhdfd78af_0"
    }

    withLabel: nextdenovo {
        container = "quay.io/biocontainers/nextdenovo:2.5.2--py310h520969d_3"
    }

    withLabel: chopper {
        container = "jwdebler/chopper_pigz_seqkit:0.7.0_2.8_2.7.0"
    }

    withLabel: ragtag {
        container = "quay.io/biocontainers/ragtag:2.1.0--pyhb7b1952_0"
    }

    withLabel: dechat {
        container = "quay.io/biocontainers/dechat:1.0.0--h500492e_0"
    }
}

