process {
    withLabel: canu {
        container = "quay.io/biocontainers/canu:2.2--ha47f30e_0"
    }

    withLabel: medaka {
        container = "quay.io/biocontainers/medaka:1.8.0--py38hdaa7744_0"
        containerOptions = "--user root"
    }

    withLabel: seqkit {
        container = "quay.io/biocontainers/seqkit:2.4.0--h9ee0642_0"
    }

    withLabel: flye {
        container = "quay.io/biocontainers/flye:2.9.2--py310h2b6aa90_2"
    }

    withLabel: nanoplot {
        container = "quay.io/biocontainers/nanoplot:1.41.3--pyhdfd78af_0"
    }

    withLabel: nextdenovo {
        container = "quay.io/biocontainers/nextdenovo:2.5.2--py310h520969d_3"
    }

    withLabel: chopper {
        container = "quay.io/biocontainers/chopper:0.5.0--hdcf5f25_2"
    }
}
