process {
    withName: Correction_dechat {
        cpus = 46
        memory = 350.GB
    }
    withName: Assembly_flye {
        cpus = 23
        memory = 150.GB
    }
    withName: Polishing_medaka_flye {
        cpus = 23
        memory = 150.GB
   }
   withName: Polishing_medaka_nextdenovo {
        cpus = 23
        memory = 150.GB
   }
   withName: Assembly_nextdenovo {
        cpus = 23
        memory = 150.GB
    }
    withLabel: chopper {
        cpus = 23
    }
}
