process {
    withName: Correction_canu {
        cpus = 15
        memory = 60.GB
        params.mhapPipe = "mhapPipe=true"
    }
    withName: Assembly_flye {
        cpus = 15
        memory = 60.GB
    }
    withName: Polishing_medaka_flye {
        cpus = 15
        memory = 60.GB
   }
   withName: Polishing_medaka_nextdenovo {
        cpus = 15
        memory = 60.GB
   }
   withName: Assembly_nextdenovo {
        cpus = 15
        memory = 60.GB
    }
    withLabel: chopper {
        cpus = 15
    }
}
