process {
    withName: canu {
        cpus = 15
        memory = 60.GB
    }
    withName: flye {
        cpus = 15
    }
    withName: medaka_flye {
        cpus = 15
   }
   withName: medaka_nextdenovo {
        cpus = 15
   }
   withName: minimap_DCS {
        cpus = 15
   }
   withName: filter_DCS_reads {
        cpus = 15
   }
   withName: nextdenovo {
        cpus = 15
        memory = 60.GB
    }
}
