process {
    withName: Correction_dechat {
        cpus = 48
        memory = 180.GB
    }
    withName: Assembly_flye {
        cpus = 23
        memory = 90.GB
    }
    withName: Polishing_medaka_flye {
        cpus = 23
        memory = 90.GB
   }
   withName: Polishing_medaka_nextdenovo {
        cpus = 23
        memory = 90.GB
   }
   withName: Assembly_nextdenovo {
        cpus = 23
        memory = 90.GB
    }
    withLabel: chopper {
        cpus = 23
    }
}
