process {
    withName: Correction_canu {
        cpus = 30
        memory = 60.GB
    }
    withName: Assembly_flye {
        cpus = 30
        memory = 60.GB
    }
    withName: Polishing_medaka_flye {
        cpus = 30
   }
   withName: Polishing_medaka_nextdenovo {
        cpus = 30
   }
   withName: QC_DCS_minimap {
        cpus = 30
   }
   withName: QC_DCS_filtering_reads {
        cpus = 30
   }
   withName: Assembly_nextdenovo {
        cpus = 30
        memory = 60.GB
    }
}
