process {
    withName: Correction_canu {
        cpus = 30
        memory = 90.GB

        // this option in nesessarry to have canu not crash when run in WSL
        params.mhapPipe = "mhapPipe=false"
    }
    withName: Assembly_flye {
        cpus = 30
        memory = 90.GB
    }
    withName: Polishing_medaka_flye {
        cpus = 30
   }
   withName: Polishing_medaka_nextdenovo {
        cpus = 30
   }
   withName: Assembly_nextdenovo {
        cpus = 30
        memory = 90.GB
    }
    withLabel: chopper {
        cpus = 30
    }
}
